Repository kyle-hensman/turbo-kitchen-sink: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run lint --

test(workspace): test lint-staged
  apps/api/src/index.ts
Due: pnpm run format, pnpm run lint --

test(workspace): test lint-staged again
  .husky/pre-commit
Due: none

fix(workspace): fix lint-staged
  .husky/pre-commit
  .lintstagedrc
  apps/api/src/index.ts
  package.json
Due: pnpm run format, pnpm run lint --

fix(workspace): apply code formatting
  apps/admin/src/main.tsx
  apps/admin/turbo.json
  apps/api/turbo.json
  apps/storefront/turbo.json
  packages/jest-presets/package.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/logger/turbo.json
  packages/ui/src/link/index.tsx
  packages/ui/tsconfig.json
Due: pnpm run format, pnpm run lint --

fix(workspace): update lint-staged
  .lintstagedrc
Due: none

test(workspace): test lint-staged
  .lintstagedrc
  apps/storefront/src/app/page.tsx
Due: pnpm run format, pnpm run lint --

feat(workspace): add changeset
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format

feat(workspace): version bump and add changelogs
  apps/admin/CHANGELOG.md
  apps/admin/package.json
  apps/api/CHANGELOG.md
  apps/api/package.json
  apps/storefront/CHANGELOG.md
  apps/storefront/package.json
  package.json
  packages/config-eslint/CHANGELOG.md
  packages/config-eslint/package.json
  packages/config-typescript/CHANGELOG.md
  packages/config-typescript/package.json
  packages/jest-presets/CHANGELOG.md
  packages/jest-presets/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: pnpm run format

feat(ci): add dockerfiles for apps
  .changeset/lazy-bottles-dance.md
  .dockerignore
  apps/admin/Dockerfile
  apps/admin/vite.config.ts
  apps/api/Dockerfile
  apps/storefront/Dockerfile
  apps/storefront/next.config.js
  apps/storefront/package.json
  docker-compose.yml
  scripts/build_docker_apps.sh
  turbo.json
Due: pnpm run format, pnpm run lint --

chore(workspace): remove admin template app
  .changeset/lazy-bottles-dance.md
  README.md
  apps/admin/.eslintrc.js
  apps/admin/CHANGELOG.md
  apps/admin/Dockerfile
  apps/admin/index.html
  apps/admin/package.json
  apps/admin/public/favicon.ico
  apps/admin/src/app/index.tsx
  apps/admin/src/app/styles.css
  apps/admin/src/index.css
  apps/admin/src/main.tsx
  apps/admin/tsconfig.json
  apps/admin/turbo.json
  apps/admin/vite.config.ts
  pnpm-lock.yaml
  scripts/build_docker_apps.sh
Due: pnpm run format, pnpm run lint --

Path conditions:
  pnpm run format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  pnpm run lint --: any of: *.{js,jsx,ts,tsx}
